%table{id: 'movies', class: 'datatable'}
  %thead
    %tr
      %th Title
      %th Year
      %th Rating
  %tbody
    -@movies.each do |movie|
      %tr
        %td= movie.name
        %td= movie.year
        %td= movie.rating

=form_tag url_for(controller: :movie_searches, action: :find_trailers) do
  =submit_tag 'find trailers on youtube'