%h3
  A list of movies goes into the box below, one per line
= form_tag url_for(controller: :movies, action: :search) do
  = text_area_tag(:movie_list, nil, size: '24x6')
  = submit_tag 'Search', class: 'btn'